aiogram==3.18.0
google-generativeai
pydantic==2.10.6
aiohttp
pytz
Pillow
edge-tts       
asyncpg        
redis          
orjson         
beautifulsoup4
emoji          
pytesseract
replicate
giphy-client